BASE_URL=https://qaplayground.com
TIMEOUT=30000
BROWSER=chromium
HEADLESS=False
STANDARD_USER=standard_user
STAND_PWD=bank_sauce
LOCKED_USER=locked_user
LOCKED_PWD=bank_sauce
FAILED=Inexistant_user
FAILED_PWD=Impossible
